*{
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
}

nav img {
    height: 30px;
    width: 30px;
    position: relative;
    top: 17px;
    left: 10px;
}

nav {
    display: flex;
}

header {
    /* background-color: red; */
    height: 70px;
}

li {
    position: relative;
    top: 20px;
    left: 40px;
    list-style: none;
}

li a {
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    position: relative;
    top: 3px;
    color: black;
}

@media screen and (max-width: 480px) {
    li a {
        padding: 16px;
    }

    nav img {
        position: relative;
        right: 0px;
    }
  }